@model UserPostRatingViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASPNET_Blog.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css"/>
</head>

<body>
<header>
    <nav class="bg-white border-gray-200 dark:bg-gray-900">
        <div class="flex items-center justify-between p-4 mx-4">
            <div class="flex flex-row items-center">
                <a class="navbar-brand" asp-area="" asp-controller="Post" asp-action="Index">
                    <svg class="rounded-full bg-white p-1" width="50" height="50" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M48 3H16C14.9391 3 13.9217 3.42143 13.1716 4.17157C12.4214 4.92172 12 5.93913 12 7V15.18C12.3194 15.0589 12.6584 14.9979 13 15H16V13C16.0016 12.4701 16.2128 11.9623 16.5875 11.5875C16.9623 11.2128 17.4701 11.0016 18 11H22C22.5299 10.9984 23.0377 10.7872 23.4125 10.4125C23.7872 10.0377 23.9984 9.52995 24 9C24.0016 8.47005 24.2128 7.96227 24.5875 7.58753C24.9623 7.2128 25.4701 7.00158 26 7H46C46.5299 7.00158 47.0377 7.2128 47.4125 7.58753C47.7872 7.96227 47.9984 8.47005 48 9V55C47.9984 55.5299 47.7872 56.0377 47.4125 56.4125C47.0377 56.7872 46.5299 56.9984 46 57H18C17.4701 56.9984 16.9623 56.7872 16.5875 56.4125C16.2128 56.0377 16.0016 55.5299 16 55V33H13C12.6584 33.0021 12.3194 32.9411 12 32.82V57C12 58.0609 12.4214 59.0783 13.1716 59.8284C13.9217 60.5786 14.9391 61 16 61H48C49.0609 61 50.0783 60.5786 50.8284 59.8284C51.5786 59.0783 52 58.0609 52 57V7C52 5.93913 51.5786 4.92172 50.8284 4.17157C50.0783 3.42143 49.0609 3 48 3Z" fill="#c9c9c9" id="id_101"></path>
                        <path d="M46 7H26C25.4701 7.00158 24.9623 7.2128 24.5875 7.58753C24.2128 7.96227 24.0016 8.47005 24 9C23.9984 9.52995 23.7872 10.0377 23.4125 10.4125C23.0377 10.7872 22.5299 10.9984 22 11H18C17.4701 11.0016 16.9623 11.2128 16.5875 11.5875C16.2128 11.9623 16.0016 12.4701 16 13V15H25C25.5299 14.9984 26.0377 14.7872 26.4125 14.4125C26.7872 14.0377 26.9984 13.5299 27 13C27.0016 12.4701 27.2128 11.9623 27.5875 11.5875C27.9623 11.2128 28.4701 11.0016 29 11H34C34.5299 11.0016 35.0377 11.2128 35.4125 11.5875C35.7872 11.9623 35.9984 12.4701 36 13V45C36.0014 46.051 35.7955 47.0919 35.394 48.0632C34.9925 49.0344 34.4032 49.9169 33.6601 50.6601C32.9169 51.4032 32.0344 51.9925 31.0632 52.394C30.0919 52.7955 29.051 53.0014 28 53C26.1435 53 24.363 52.2625 23.0503 50.9497C21.7375 49.637 21 47.8565 21 46V33H16V55C16.0016 55.5299 16.2128 56.0377 16.5875 56.4125C16.9623 56.7872 17.4701 56.9984 18 57H46C46.5299 56.9984 47.0377 56.7872 47.4125 56.4125C47.7872 56.0377 47.9984 55.5299 48 55V9C47.9984 8.47005 47.7872 7.96227 47.4125 7.58753C47.0377 7.2128 46.5299 7.00158 46 7Z" fill="#ffffff" id="id_102"></path>
                        <path d="M20 37H8C6.89543 37 6 37.8954 6 39V51C6 52.1046 6.89543 53 8 53H20C21.1046 53 22 52.1046 22 51V39C22 37.8954 21.1046 37 20 37Z" fill="#dec6da" id="id_103"></path>
                        <path d="M14 48C15.6569 48 17 46.6569 17 45C17 43.3431 15.6569 42 14 42C12.3431 42 11 43.3431 11 45C11 46.6569 12.3431 48 14 48Z" fill="#7a5e77" id="id_104"></path>
                        <path d="M42 53C47.5228 53 52 48.5228 52 43C52 37.4772 47.5228 33 42 33C36.4772 33 32 37.4772 32 43C32 48.5228 36.4772 53 42 53Z" fill="#bf3d3d" id="id_105"></path>
                        <path d="M39 47V39L47 43L39 47Z" fill="#000000" id="id_106"></path>
                        <path d="M54.652 10.694H40.652C39.5474 10.694 38.652 11.5894 38.652 12.694V26.694C38.652 27.7985 39.5474 28.694 40.652 28.694H54.652C55.7566 28.694 56.652 27.7985 56.652 26.694V12.694C56.652 11.5894 55.7566 10.694 54.652 10.694Z" fill="#aecfcb" id="id_107"></path>
                        <path d="M52.246 20.109L48 24.355L43.754 20.109C43.5073 19.8718 43.3104 19.5878 43.1748 19.2736C43.0392 18.9593 42.9677 18.6212 42.9643 18.279C42.9609 17.9368 43.0258 17.5974 43.1552 17.2805C43.2846 16.9637 43.4759 16.6759 43.7178 16.4338C43.9598 16.1918 44.2476 16.0005 44.5644 15.871C44.8812 15.7415 45.2206 15.6765 45.5628 15.6798C45.905 15.6831 46.2431 15.7546 46.5574 15.8901C46.8716 16.0256 47.1557 16.2224 47.393 16.469L48 17.076L48.607 16.469C48.8443 16.2224 49.1284 16.0256 49.4426 15.8901C49.7569 15.7546 50.095 15.6831 50.4372 15.6798C50.7794 15.6765 51.1188 15.7415 51.4356 15.871C51.7524 16.0005 52.0402 16.1918 52.2822 16.4338C52.5241 16.6759 52.7154 16.9637 52.8448 17.2805C52.9742 17.5974 53.0391 17.9368 53.0357 18.279C53.0323 18.6212 52.9608 18.9593 52.8252 19.2736C52.6896 19.5878 52.4927 19.8718 52.246 20.109V20.109Z" fill="#a85858" id="id_108"></path>
                        <path d="M28 28V30C28 30.7956 27.6839 31.5587 27.1213 32.1213C26.5587 32.6839 25.7956 33 25 33H13C12.2044 33 11.4413 32.6839 10.8787 32.1213C10.3161 31.5587 10 30.7956 10 30V18C10 17.2044 10.3161 16.4413 10.8787 15.8787C11.4413 15.3161 12.2044 15 13 15H15C15 18.4478 16.3696 21.7544 18.8076 24.1924C21.2456 26.6304 24.5522 28 28 28V28Z" fill="#ffffff" id="id_109"></path>
                        <path d="M16 8C16.5523 8 17 7.55228 17 7C17 6.44772 16.5523 6 16 6C15.4477 6 15 6.44772 15 7C15 7.55228 15.4477 8 16 8Z" fill="#dbeb4d" id="id_110"></path>
                        <path d="M20 8C20.5523 8 21 7.55228 21 7C21 6.44772 20.5523 6 20 6C19.4477 6 19 6.44772 19 7C19 7.55228 19.4477 8 20 8Z" fill="#f3f5e2" id="id_111"></path>
                        <path d="M54.652 9.693H53V7C52.9984 5.6744 52.4711 4.40356 51.5338 3.46622C50.5964 2.52888 49.3256 2.00159 48 2H16C14.6744 2.00159 13.4036 2.52888 12.4662 3.46622C11.5289 4.40356 11.0016 5.6744 11 7V14.556C10.394 14.9044 9.89021 15.4059 9.53918 16.0104C9.18815 16.6149 9.00221 17.301 9 18V30C9.00221 30.699 9.18815 31.3851 9.53918 31.9896C9.89021 32.5941 10.394 33.0956 11 33.444V36H8C7.20435 36 6.44129 36.3161 5.87868 36.8787C5.31607 37.4413 5 38.2044 5 39V51C5 51.7956 5.31607 52.5587 5.87868 53.1213C6.44129 53.6839 7.20435 54 8 54H11V57C11.0016 58.3256 11.5289 59.5964 12.4662 60.5338C13.4036 61.4711 14.6744 61.9984 16 62H48C49.3256 61.9984 50.5964 61.4711 51.5338 60.5338C52.4711 59.5964 52.9984 58.3256 53 57V29.693H54.652C55.4476 29.693 56.2107 29.3769 56.7733 28.8143C57.3359 28.2517 57.652 27.4887 57.652 26.693V12.693C57.652 11.8974 57.3359 11.1343 56.7733 10.5717C56.2107 10.0091 55.4476 9.693 54.652 9.693ZM13 7C13 6.20435 13.3161 5.44129 13.8787 4.87868C14.4413 4.31607 15.2044 4 16 4H48C48.7956 4 49.5587 4.31607 50.1213 4.87868C50.6839 5.44129 51 6.20435 51 7V9.693H49V9C49 8.20435 48.6839 7.44129 48.1213 6.87868C47.5587 6.31607 46.7956 6 46 6H26C25.2044 6 24.4413 6.31607 23.8787 6.87868C23.3161 7.44129 23 8.20435 23 9C23 9.26522 22.8946 9.51957 22.7071 9.70711C22.5196 9.89464 22.2652 10 22 10H18C17.2044 10 16.4413 10.3161 15.8787 10.8787C15.3161 11.4413 15 12.2044 15 13V14H13V7ZM40.652 29.693H47V33.214C45.3231 32.3532 43.4532 31.9378 41.5696 32.0075C39.686 32.0773 37.8519 32.6299 36.2433 33.6123C34.6346 34.5948 33.3055 35.9741 32.3832 37.6179C31.461 39.2618 30.9766 41.1151 30.9766 43C30.9766 44.8849 31.461 46.7382 32.3832 48.3821C33.3055 50.0259 34.6346 51.4052 36.2433 52.3877C37.8519 53.3701 39.686 53.9227 41.5696 53.9925C43.4532 54.0622 45.3231 53.6468 47 52.786V55C47 55.2652 46.8946 55.5196 46.7071 55.7071C46.5196 55.8946 46.2652 56 46 56H18C17.7348 56 17.4804 55.8946 17.2929 55.7071C17.1054 55.5196 17 55.2652 17 55V54H20C20.7956 54 21.5587 53.6839 22.1213 53.1213C22.6839 52.5587 23 51.7956 23 51V39C23 38.2044 22.6839 37.4413 22.1213 36.8787C21.5587 36.3161 20.7956 36 20 36H17V34H25C26.0609 34 27.0783 33.5786 27.8284 32.8284C28.5786 32.0783 29 31.0609 29 30V18C29 16.9391 28.5786 15.9217 27.8284 15.1716C27.0783 14.4214 26.0609 14 25 14H17V13C17 12.7348 17.1054 12.4804 17.2929 12.2929C17.4804 12.1054 17.7348 12 18 12H22C22.7956 12 23.5587 11.6839 24.1213 11.1213C24.6839 10.5587 25 9.79565 25 9C25 8.73478 25.1054 8.48043 25.2929 8.29289C25.4804 8.10536 25.7348 8 26 8H46C46.2652 8 46.5196 8.10536 46.7071 8.29289C46.8946 8.48043 47 8.73478 47 9V9.693H40.652C39.8564 9.693 39.0933 10.0091 38.5307 10.5717C37.9681 11.1343 37.652 11.8974 37.652 12.693V26.693C37.652 27.4887 37.9681 28.2517 38.5307 28.8143C39.0933 29.3769 39.8564 29.693 40.652 29.693V29.693ZM42 52C40.22 52 38.4799 51.4722 36.9999 50.4832C35.5198 49.4943 34.3663 48.0887 33.6851 46.4441C33.0039 44.7996 32.8257 42.99 33.1729 41.2442C33.5202 39.4984 34.3774 37.8947 35.636 36.636C36.8947 35.3774 38.4984 34.5202 40.2442 34.1729C41.99 33.8257 43.7996 34.0039 45.4441 34.6851C47.0887 35.3663 48.4943 36.5198 49.4832 37.9999C50.4722 39.4799 51 41.22 51 43C50.9971 45.3861 50.0479 47.6735 48.3607 49.3607C46.6735 51.0479 44.3861 51.9971 42 52V52ZM11 18C11 17.4696 11.2107 16.9609 11.5858 16.5858C11.9609 16.2107 12.4696 16 13 16H25C25.5304 16 26.0391 16.2107 26.4142 16.5858C26.7893 16.9609 27 17.4696 27 18V30C27 30.5304 26.7893 31.0391 26.4142 31.4142C26.0391 31.7893 25.5304 32 25 32H13C12.4696 32 11.9609 31.7893 11.5858 31.4142C11.2107 31.0391 11 30.5304 11 30V18ZM13 34H15V36H13V34ZM7 51V39C7 38.7348 7.10536 38.4804 7.29289 38.2929C7.48043 38.1054 7.73478 38 8 38H20C20.2652 38 20.5196 38.1054 20.7071 38.2929C20.8946 38.4804 21 38.7348 21 39V51C21 51.2652 20.8946 51.5196 20.7071 51.7071C20.5196 51.8946 20.2652 52 20 52H8C7.73478 52 7.48043 51.8946 7.29289 51.7071C7.10536 51.5196 7 51.2652 7 51ZM51 57C51 57.7956 50.6839 58.5587 50.1213 59.1213C49.5587 59.6839 48.7956 60 48 60H16C15.2044 60 14.4413 59.6839 13.8787 59.1213C13.3161 58.5587 13 57.7956 13 57V54H15V55C15 55.7956 15.3161 56.5587 15.8787 57.1213C16.4413 57.6839 17.2044 58 18 58H46C46.7956 58 47.5587 57.6839 48.1213 57.1213C48.6839 56.5587 49 55.7956 49 55V51.479C49.7605 50.8467 50.4332 50.1155 51 49.305V57ZM51 36.7C50.4332 35.8895 49.7605 35.1583 49 34.526V29.693H51V36.7ZM55.652 26.7C55.652 26.9652 55.5466 27.2196 55.3591 27.4071C55.1716 27.5946 54.9172 27.7 54.652 27.7H40.652C40.3868 27.7 40.1324 27.5946 39.9449 27.4071C39.7574 27.2196 39.652 26.9652 39.652 26.7V12.7C39.652 12.4348 39.7574 12.1804 39.9449 11.9929C40.1324 11.8054 40.3868 11.7 40.652 11.7H54.652C54.9172 11.7 55.1716 11.8054 55.3591 11.9929C55.5466 12.1804 55.652 12.4348 55.652 12.7V26.7Z" fill="#96a3a1" id="id_112"></path>
                        <path d="M14 41C13.2089 41 12.4355 41.2346 11.7777 41.6741C11.1199 42.1136 10.6072 42.7384 10.3045 43.4693C10.0017 44.2002 9.92252 45.0044 10.0769 45.7804C10.2312 46.5563 10.6122 47.269 11.1716 47.8284C11.731 48.3878 12.4437 48.7688 13.2196 48.9231C13.9956 49.0775 14.7998 48.9983 15.5307 48.6955C16.2616 48.3928 16.8864 47.8801 17.3259 47.2223C17.7654 46.5645 18 45.7911 18 45C18 43.9391 17.5786 42.9217 16.8284 42.1716C16.0783 41.4214 15.0609 41 14 41ZM14 47C13.6044 47 13.2178 46.8827 12.8889 46.6629C12.56 46.4432 12.3036 46.1308 12.1522 45.7654C12.0009 45.3999 11.9613 44.9978 12.0384 44.6098C12.1156 44.2219 12.3061 43.8655 12.5858 43.5858C12.8655 43.3061 13.2219 43.1156 13.6098 43.0384C13.9978 42.9613 14.3999 43.0009 14.7654 43.1522C15.1308 43.3036 15.4432 43.56 15.6629 43.8889C15.8827 44.2178 16 44.6044 16 45C16 45.5304 15.7893 46.0391 15.4142 46.4142C15.0391 46.7893 14.5304 47 14 47Z" fill="#9c7a99" id="id_113"></path>
                        <path d="M47.447 42.105L39.447 38.105C39.2945 38.0288 39.1251 37.9928 38.9548 38.0005C38.7845 38.0082 38.619 38.0594 38.474 38.149C38.329 38.2387 38.2093 38.364 38.1264 38.5129C38.0434 38.6618 37.9999 38.8295 38 39V47C37.9991 47.1709 38.0419 47.3392 38.1245 47.4888C38.2071 47.6384 38.3267 47.7643 38.4718 47.8546C38.617 47.9449 38.7828 47.9964 38.9535 48.0044C39.1242 48.0123 39.2941 47.9764 39.447 47.9L47.447 43.9C47.6134 43.817 47.7534 43.6894 47.8512 43.5313C47.9491 43.3732 48.0009 43.1909 48.0009 43.005C48.0009 42.8191 47.9491 42.6368 47.8512 42.4787C47.7534 42.3206 47.6134 42.1929 47.447 42.11V42.105ZM40 45.382V40.618L44.764 43L40 45.382Z" fill="#000000" id="id_114"></path>
                        <path d="M48 15.666C47.3124 15.0584 46.4214 14.7314 45.504 14.75C44.5865 14.7685 43.7096 15.1311 43.047 15.766C42.7151 16.0978 42.4518 16.4918 42.2721 16.9254C42.0925 17.359 42 17.8237 42 18.293C42 18.7624 42.0925 19.2271 42.2721 19.6607C42.4518 20.0943 42.7151 20.4882 43.047 20.82L47.293 25.067C47.4805 25.2545 47.7348 25.3598 48 25.3598C48.2652 25.3598 48.5195 25.2545 48.707 25.067L52.953 20.82C53.2848 20.4882 53.548 20.0944 53.7275 19.6609C53.9071 19.2274 53.9995 18.7627 53.9995 18.2935C53.9995 17.8243 53.9071 17.3597 53.7275 16.9262C53.548 16.4927 53.2848 16.0988 52.953 15.767C52.2905 15.1322 51.4136 14.7695 50.4962 14.7508C49.5788 14.7321 48.6879 15.0588 48 15.666ZM51.539 19.4L48 22.941L44.461 19.4C44.1759 19.1028 44.0187 18.7057 44.023 18.2939C44.0273 17.8821 44.1929 17.4884 44.4842 17.1972C44.7755 16.9061 45.1692 16.7407 45.5811 16.7365C45.9929 16.7324 46.3899 16.8898 46.687 17.175L47.293 17.781C47.4805 17.9685 47.7348 18.0738 48 18.0738C48.2652 18.0738 48.5195 17.9685 48.707 17.781L49.313 17.175C49.6127 16.8886 50.0114 16.7287 50.426 16.7287C50.8406 16.7287 51.2393 16.8886 51.539 17.175C51.6851 17.3211 51.8011 17.4945 51.8801 17.6854C51.9592 17.8763 51.9999 18.0809 51.9999 18.2875C51.9999 18.4941 51.9592 18.6987 51.8801 18.8896C51.8011 19.0805 51.6851 19.254 51.539 19.4V19.4Z" fill="#a85858" id="id_115"></path>
                        <path d="M16 25H17V29C17 29.2652 17.1054 29.5196 17.2929 29.7071C17.4804 29.8946 17.7348 30 18 30C18.2652 30 18.5196 29.8946 18.7071 29.7071C18.8946 29.5196 19 29.2652 19 29V25H20C20.2652 25 20.5196 24.8946 20.7071 24.7071C20.8946 24.5196 21 24.2652 21 24C21 23.7348 20.8946 23.4804 20.7071 23.2929C20.5196 23.1054 20.2652 23 20 23H19V22C19 21.4696 19.2107 20.9609 19.5858 20.5858C19.9609 20.2107 20.4696 20 21 20C21.2652 20 21.5196 19.8946 21.7071 19.7071C21.8946 19.5196 22 19.2652 22 19C22 18.7348 21.8946 18.4804 21.7071 18.2929C21.5196 18.1054 21.2652 18 21 18C19.9391 18 18.9217 18.4214 18.1716 19.1716C17.4214 19.9217 17 20.9391 17 22V23H16C15.7348 23 15.4804 23.1054 15.2929 23.2929C15.1054 23.4804 15 23.7348 15 24C15 24.2652 15.1054 24.5196 15.2929 24.7071C15.4804 24.8946 15.7348 25 16 25V25Z" fill="#452b8f" id="id_116"></path>
                        <path d="M35 20H32C31.7348 20 31.4804 20.1054 31.2929 20.2929C31.1054 20.4804 31 20.7348 31 21C31 21.2652 31.1054 21.5196 31.2929 21.7071C31.4804 21.8946 31.7348 22 32 22H35C35.2652 22 35.5196 21.8946 35.7071 21.7071C35.8946 21.5196 36 21.2652 36 21C36 20.7348 35.8946 20.4804 35.7071 20.2929C35.5196 20.1054 35.2652 20 35 20Z" fill="#96a3a1" id="id_117"></path>
                        <path d="M28 44H26C25.7348 44 25.4804 44.1054 25.2929 44.2929C25.1054 44.4804 25 44.7348 25 45C25 45.2652 25.1054 45.5196 25.2929 45.7071C25.4804 45.8946 25.7348 46 26 46H28C28.2652 46 28.5196 45.8946 28.7071 45.7071C28.8946 45.5196 29 45.2652 29 45C29 44.7348 28.8946 44.4804 28.7071 44.2929C28.5196 44.1054 28.2652 44 28 44Z" fill="#ffffff" id="id_118"></path>
                        <path d="M34.293 29.293L25.293 38.293C25.1975 38.3852 25.1213 38.4956 25.0689 38.6176C25.0165 38.7396 24.9889 38.8708 24.9878 39.0036C24.9866 39.1364 25.0119 39.268 25.0622 39.3909C25.1125 39.5138 25.1867 39.6255 25.2806 39.7194C25.3745 39.8133 25.4862 39.8875 25.6091 39.9378C25.7319 39.9881 25.8636 40.0134 25.9964 40.0122C26.1292 40.0111 26.2604 39.9835 26.3824 39.9311C26.5044 39.8787 26.6148 39.8025 26.707 39.707L35.707 30.707C35.8892 30.5184 35.99 30.2658 35.9877 30.0036C35.9854 29.7414 35.8802 29.4906 35.6948 29.3052C35.5094 29.1198 35.2586 29.0146 34.9964 29.0123C34.7342 29.01 34.4816 29.1108 34.293 29.293V29.293Z" fill="#96a3a1" id="id_119"></path>
                        <path d="M32 12.783C32.5523 12.783 33 12.3353 33 11.783C33 11.2307 32.5523 10.783 32 10.783C31.4477 10.783 31 11.2307 31 11.783C31 12.3353 31.4477 12.783 32 12.783Z" fill="#96a3a1" id="id_120"></path>
                        <path d="M28 53C28.5523 53 29 52.5523 29 52C29 51.4477 28.5523 51 28 51C27.4477 51 27 51.4477 27 52C27 52.5523 27.4477 53 28 53Z" fill="#96a3a1" id="id_121"></path>
                    </svg>
                </a>
                <div class="font-medium list-none flex flex-row justify-between p-4">
                    <li class="ms-2">
                        <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-area="" asp-controller="Post" asp-action="Index">Posts</a>
                    </li>
                    @if ((bool)ViewData["IsLoggedIn"])
                    {
                        <li class="ms-4">
                            <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-controller="User" asp-action="Following" asp-route-id="@(((User)ViewData["User"]).Id)">Following</a>
                        </li>
                    }
                    @if (((User)ViewData["User"]) != null)
                    {
                        @if (((User)ViewData["User"]).Role == "admin")
                        {
                            <li class="ms-4">
                                <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                    }
                </div>
            </div>
            
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                   
                    <button id="theme-toggle" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
                    </button>
                    
                    @if (!(bool)ViewData["IsLoggedIn"])
                    {
                        <li>
                            <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                        </li>
                        <li>
                            <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-area="" asp-controller="User" asp-action="Show" asp-route-id="@(((User)ViewData["User"]).Id)">@(((User)ViewData["User"]).Name)</a>
                        </li>
                        <li>
                            <a class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent" asp-area="" asp-controller="User" asp-action="LogoutSubmit">Logout</a>
                        </li>
                    }
                </ul>
            </div>
            
        </div>
        
    </nav>
</header>

    <div class="container mx-auto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ASPNET_Blog
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
