@model User
<div class="w-full mt-10 mb-5">
    <div class="w-full flex justify-between items-center bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
        <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" asp-controller="User" asp-action="Show" asp-route-id="@Model.Id">
            <h3>@Model.Name</h3>
        </a>
        <p>@Model.Posts().Count posts</p>
        @if (((User)ViewData["User"]).Id == Model.Id)
        {
            <div>
                <a asp-controller="User" asp-action="Show" asp-route-id="@Model.Id" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">You</a>
            </div>
        }
        else if (((User)ViewData["User"]).isFollowing(Model.Id))
        {
            <div>
                <a asp-controller="User" asp-action="UnFollowSubmit" asp-route-id="@Model.Id"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">UnFollow</a>
            </div>
        }
        else
        {
            <div>
                <a asp-controller="User" asp-action="FollowSubmit" asp-route-id="@Model.Id"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Follow</a>
            </div>
        }
    </div>
</div>