@model UserPostRatingViewModel
@{
    ViewBag.Title = "ShowUser";
    Layout = "_Layout";
}

<h2>Show User </h2>
<div class="w-100 d-flex flex-column justify-content-center align-items-center">
    <form class="w-25 bg-light p-3 mb-3">
        <h2>User Info:</h2>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Name</label>
            <input type="text" value="@Model.User.Name" class="w-100" disabled>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <label>Email</label>
            <input type="text" value="@Model.User.Email" class="w-100" disabled>
        </div>
        <div class="mb-3 d-flex flex-column align-items-start">
            <a asp-controller="User" asp-action="Following" asp-route-id="@Model.User.Id">Following
                @Model.User.Following().Count</a>
            <a asp-controller="User" asp-action="Followers" asp-route-id="@Model.User.Id">Followers
                @Model.User.Followed().Count</a>
        </div>
        @if ((bool)ViewData["isLoggedIn"])
        {
            if (((User)ViewData["User"]).Id == Model.User.Id)
            {
                <div class="mb-3 d-flex flex-column align-items-start">
                    <a asp-controller="User" asp-action="Edit" class="w-100 btn btn-primary">Edit</a>
                </div>
            }
            else
            {
                if (((User)ViewData["User"]).isFollowing(Model.User.Id))
                {
                    <div>
                        <a asp-controller="User" asp-action="UnFollowSubmit" asp-route-id="@Model.User.Id"
                            class="w-100 btn btn-secondary mb-3">UnFollow</a>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="User" asp-action="FollowSubmit" asp-route-id="@Model.User.Id"
                            class="w-100 btn btn-secondary mb-3">Follow</a>
                    </div>
                }
            }
            if (((User)ViewData["User"]).Role == "admin" && ((User)ViewData["User"]).Id != Model.User.Id)
            {
                if (Model.User.Role == "admin")
                {
                    <div>
                        <a asp-controller="Admin" asp-action="RevokeAdmin" asp-route-id="@Model.User.Id"
                            class="w-100 btn btn-secondary mb-3">Revoke Admin Rights</a>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="Admin" asp-action="AddAdmin" asp-route-id="@Model.User.Id"
                            class="w-100 btn btn-secondary mb-3">Add Admin Rights</a>
                    </div>
                }
            }
        }
    </form>
    @if ((bool)ViewData["isLoggedIn"])
    {
        @if (((User)ViewData["User"]).Id == Model.User.Id)
        {
            <div class="w-100 d-flex justify-content-center">
                <a class="btn btn-primary w-25" asp-controller="Post" asp-action="Create">Create Post</a>
            </div>
        }
    }
    <div class="w-100">
        @Html.Partial("_PostList")
    </div>
</div>