@model UserPostRatingViewModel
@{
    ViewBag.Title = "ShowUser";
    Layout = "_Layout";
}

<div class="w-full">
    <h1 class="text-4xl font-bold text-gray-900 dark:text-white items-center">User Profile</h1>
</div>

<div class="w-full mt-10 max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
    <form class="space-y-6">
        <h2 class="text-xl font-medium text-gray-900 dark:text-white">User Info</h2>
        @* NAME *@
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name:</label>
            <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                type="text" value="@Model.User.Name" disabled>
        </div>
        @* EMAIL *@
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email:</label>
            <input
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                type="text" value="@Model.User.Email" disabled>
        </div>
        <div class="flex justify-evenly mb-2 text-sm font-medium text-gray-900 dark:text-white">
            <a asp-controller="User" asp-action="Following" asp-route-id="@Model.User.Id">Following
                @Model.User.Following().Count</a>
            <a asp-controller="User" asp-action="Followers" asp-route-id="@Model.User.Id">Followers
                @Model.User.Followed().Count</a>
        </div>
        @if ((bool)ViewData["isLoggedIn"])
        {
            if (((User)ViewData["User"]).Id == Model.User.Id)
            {
                <div class="flex items-center justify-center">
                    <a class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" asp-controller="User" asp-action="Edit">Edit</a>
                </div>
            }
            else
            {
                if (((User)ViewData["User"]).isFollowing(Model.User.Id))
                {
                    <div>
                        <a asp-controller="User" asp-action="UnFollowSubmit" asp-route-id="@Model.User.Id"
                           class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">UnFollow</a>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="User" asp-action="FollowSubmit" asp-route-id="@Model.User.Id"
                           class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Follow</a>
                    </div>
                }
            }
            if (((User)ViewData["User"]).Role == "admin" && ((User)ViewData["User"]).Id != Model.User.Id)
            {
                if (Model.User.Role == "admin")
                {
                    <div>
                        <a asp-controller="Admin" asp-action="RevokeAdmin" asp-route-id="@Model.User.Id"
                           class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Revoke Admin Rights</a>
                    </div>
                }
                else
                {
                    <div>
                        <a asp-controller="Admin" asp-action="AddAdmin" asp-route-id="@Model.User.Id"
                           class="w-full block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add Admin Rights</a>
                    </div>
                }
            }
        }
    </form>
</div>
<div class="w-full">
    @if ((bool)ViewData["isLoggedIn"])
    {
        @if (((User)ViewData["User"]).Id == Model.User.Id)
        {
            <div class="flex items-center justify-center m-10">
                <a class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" asp-controller="Post" asp-action="Create">Create Post</a>
            </div>
        }
    }
    <div class="w-full">
        @Html.Partial("_PostList")
    </div>
</div>
        